body {
    background: #FFF;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 20px;
}

footer {
    margin-top: 30px;
    text-align: center;
}

.width-half {
    width: 50%;
}
.hide {
    display: none !important;
}
.show {
    display: block !important;
}
.link-underline {
    text-decoration: underline;
}

.navigation-wrapper {
    text-align: center;
}
a {
    color: #666;
    text-decoration: none;
}
a:hover {
    color: #222;
    /* text-decoration: underline; */
}

.catalog-product-list .category-banner {
    border-radius: 4px;
    width: 100%;
}

.catalog-product-list .product-list {
    list-style: none;
    padding-left: 0;
}
.catalog-product-list .product-list:after {
    clear: both;
    content: "";
    display: block;
}
.catalog-product-list .product-list li {
    border-radius: 3px;
    float: left;
    margin-bottom: 5px;
    width: 50%;
}
.catalog-product-list .product-list li:hover {
    background: #EEE;
}
.catalog-product-list .product-list li .product-item-wrapper {
    padding: 2px;
}
.catalog-product-list .product-list li img {
    width: 100%;
}

.catalog-product-view .product-image {
    width: 100%;
}
.catalog-product-view .price {
    font-size: 20px;
    margin-bottom: 0;
}
.catalog-product-view .sku {
    margin-top: 0;
}
.catalog-product-view .product-description {
    border-bottom: 1px solid #666;
    border-top: 1px solid #666;
}
.catalog-product-view .button-wrapper {
    margin-top: 30px;
    text-align: center;
}
.catalog-product-view .button-wrapper span {
    display: block;
    margin-bottom: 10px;
    transition: 0.3s;
}
.catalog-product-view .button-wrapper button {
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
    width: 100%;
}
.catalog-product-view .button-wrapper button:hover {
    background: #000;
    color: #EEE;
}

.checkout-cart-index .cart-items table {
    width: 100%;
}
.checkout-cart-index .cart-items .cart-item-image {
    width: 100px;;
}